// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #EEEEEE;
$border-color: #CCCCCC;

html {
	height: 100%;
  margin: 0;
  padding: 0;
}

body {
	height: 100%;
  margin: 0;
  padding: 0;
	font-family: georgia;
}

/* template css */
.header {
	overflow: hidden;
	width: 100%;
	height: 60pt;
}

.header a {
	display: block;
	width: 150pt;
  height: 60pt;
  float: left;
	background-image: url('list-button.png');
  background-size: 150pt 60pt;
  text-align: center;
  line-height: 50pt;
}

.header .shopping {
	background-image: url('current-list-button.png');
}

.header .following {
	background-image: url('current-list-button.png');
}

/* index page css */
.index-container .search {
  height: 40%;
  overflow: auto;
}

.index-container .recently {
  height: 40%;
  overflow: auto;
}

/* search results */
.search-block {
	height: 55pt;
	border-bottom: solid;
  border-width: 1px;
  border-color: $border-color;
}

.search-block .text {
	float: left;
  overflow: hidden;
  white-space:nowrap; 
  width: calc(100% - 80pt);
}

.search-block .text .name h1 {
	font-size: 16pt;
  text-overflow: ellipsis;
}

.search-block .text .catalog-number {
	display: none;
}

.search-block .text .description {
	display: none;
}

.search-block .buttons {
	position: absolute;
	right: 0;
}

.search-block .buttons .view {
  margin: 5pt 10pt 0pt 0pt;
}

.search-block .buttons .add {
  margin: 5pt 10pt 0pt 0pt;
}

/* recently viewed */
.title {
	height: 20pt;
  width: 100%;
  text-align: center;
	background-color: #444444;
  color: #DDDDDD;
}