// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: #EEEEEE;
$border-color: #CCCCCC;

html {
	height: 100%;
  margin: 0;
  padding: 0;
}

body {
	height: 100%;
  margin: 0;
  padding: 0;
	font-family: georgia;
}

/* template css */
.header {
	overflow: hidden;
	width: 100%;
	height: 60pt;
}

.header a {
	display: block;
	width: 150pt;
  height: 60pt;
  float: left;
  margin: 0 1pt 0 1pt;
	background-image: url('list-button.png');
  background-size: 150pt 60pt;
  text-align: center;
  line-height: 50pt;
}

.header .shopping {
	background-image: url('current-list-button.png');
}

.header .following {
	background-image: url('current-list-button.png');
}

/* hiding buttons */
.search .buttons .remove {
  display: none;
}

#following-list .buttons .add {
	display: none;
}

#shopping-list .buttons .add {
	display: none;
}

/* content css */

.search-link {
	display: block;
  background-size: 304pt 42pt;
  margin: 10pt 0 10pt 0;
	width: 305pt;
  height: 42pt;
  background-repeat: no-repeat;
	background-image: url('search-button.png');
  text-align: center;
  line-height: 35pt;
}

.index-container .search {
  height: 40%;
  overflow: auto;
}

.index-container .recently {
  height: 40%;
  overflow: auto;
}

/* text blocks */
.text-block {
	height: 55pt;
	border-bottom: solid;
  border-width: 1px;
  border-color: $border-color;
  background-color: #F2F2F2;

}

.text-block .text {
	float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 80pt);
  margin-left: 5px;
}

.text-block .text .name h1 {
	font-size: 16pt;
  text-overflow: ellipsis;
}

.text-block .text .staff {
	margin-top: -8pt;
}

.text-block .text .catalog-number {
	display: none;
}

.text-block .text .description {
	display: none;
}

.text-block .buttons {
	position: absolute;
	right: 0;
}

.text-block .buttons .view {
  margin: 5pt 10pt 0pt 0pt;
}

.text-block .buttons .add {
  margin: 5pt 10pt 0pt 0pt;
}

.text-block .buttons .remove {
	margin: 5pt 10pt 0pt 0pt;
}

/* titles */
.title {
	height: 20pt;
  width: 100%;
  text-align: center;
	background-color: #444444;
  color: #DDDDDD;
}